// Variables
@import "../bootstrap/bootstrap/variables";


//*
//$primary: #00B7FF;
$primary: #A3BD5D;
$primary-contrast: #F2F4EC;

$accent: #25252B;//#19191B;
$accent-contrast: #F2F4EC;

$background: white;
$background-contrast: #333333;
/*
*/

/*
$primary: #6b9362;
$primary-contrast: #f1e7d8;

$accent: #4d4b3a;//#19191B;
$accent-contrast: #f1e7d8;

$background: white;
$background-contrast: #4d4b3a;
/*
*/
